<% if (true){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">置頂文章</h3>
    <div class="widget">
      <ul>
        <li>
          <a href="/2016/10/03/ps-plus-jpn-2016-10/">[PSN] PlayStation Plus 日服 二〇一六年 十月 會免游戲替換地址綜合文</a>
          <hr />
          <a href="/2015/03/16/psn-sth-useless-note/">[雜談] [PSN] 一些游戲的PKG地址</a>
          <hr />
          <a href="/2014/12/26/send-some-codes/">【自購自分享(?)】送碼。</a>
          <hr />
          <a href="/2016/04/06/some-playstation-update-files/">[雜談] PlayStaion更新相關</a>
          <hr />
          <a href="/2013/12/29/kancolle/">[Webpage Game] 艦隊これくしょん ～艦これ～ / Kantai Collection -Kancolle- / 艦隊收藏 ~肝這個~（誤）</a>
          <hr />
          <a href="/2015/11/17/imas-cg-starlightstage/">[iOS & Android App] アイドルマスター シンデレラガールズ スターライトステージ / 騙錢大師 灰姑娘女孩 星光舞台</a>
          <hr />
          <a href="/2016/08/28/imas-cgss-1st-anniversary/">[iOS & Android App] アイドルマスター シンデレラガールズ スターライトステージ / 騙氪大師 灰姑娘女孩 星光舞台 一週年倒計時</a>
          <hr />
          <a href="/2016/01/09/superbeat-xonic/">[PSV GAME] SUPERBEAT: XONiC / 슈퍼비트: 소닉 / 超級手殘 音速 自製資料室</a>
          <hr />
          <a href="/2015/12/12/croixleur-sigma/">[PS4 & PSV GAME] クロワルール シグマ / CroixleurΣ / Croixleur Sigma 偽·實況視頻</a>
          <hr />
          <a href="/2016/04/01/platinum-demo-ffxv-gameplay-video/">[PS4 GAME] PLATINUM DEMO – FINAL FANTASY XV / 卡班库尔物语 - 最终幻想15 看風景向實況</a>
          <hr />
          <a href="/2016/07/28/imas-ps-gameplay-video/">[PS4 GAME] アイドルマスター プラチナスターズ / 騙錢大師 白金之星 半紀錄向實況</a>
        </li>
      </ul>
    </div>
  </div>
<% } %>