<% if (true){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">Banner圖出處</h3>
    <div class="widget">
      <ul>
        <li>
          <a href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=51305122" target="_blank">Pixiv - illust_id=51305122</a>
        </li>
      </ul>
    </div>
  </div>
<% } %>