<% if (true){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">My Gamercard</h3>
    <div class="widget">
      <ul>
        <li>
          <strong><p>PSN ID: wfhtony199696969 (JPN)</p>
          <p>Xbox Live (原): wfhtony1996 (USA)</p>
          <p>Xbox Live (現): wfhtony (USA)</p>
          <p>Steam: <a href="http://steamcommunity.com/id/wfhtony" target="_blank">wfhtony</a></p></strong>
          <hr />
          <p>【看不清楚的可點擊圖片打開網頁查看】</p>
          <hr />
          <p>Psnprofiles: (PSN) 
          <a href="http://psnprofiles.com/wfhtony199696969" target="_blank"><img src="http://card.psnprofiles.com/1/wfhtony199696969.png" border="0" width="100%" height="100%"></a></p>
          <p>PSNINE (PSNINE): (PSN) 
          <a href="http://d7vg.com/psnid/wfhtony199696969" target="_blank"><img src="http://d7vg.com/card/wfhtony199696969" border="0" width="100%" height="100%"></a></p>
          <p>Exophase: (PSN x Xbox Live x Steam) 
          <a href="http://profiles.exophase.com/wfhtony/" target="_blank"><img src="http://card.exophase.com/2/0/1213.png" border="0" width="100%" height="100%"></a></p>
          <p>Exophase: (PSN x Xbox Live) 
          <a href="http://profiles.exophase.com/wfhtony/" target="_blank"><img src="http://card.exophase.com/1/711621.png" border="0" width="100%" height="100%"></a></p>
          <p>Exophase: (Steam) 
          <a href="http://gamercards.exophase.com/steam/user/23647/wfhtony/" target="_blank"><img src="http://card.exophase.com/1/711623.png" border="0" width="100%" height="100%"></a></p>
        </li>
      </ul>
    </div>
  </div>
<% } %>