<% if (true){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">博客更新日志</h3>
    <div class="widget">
      <ul>
        <li>
          <center><p><strong>[只保留最近七天的消息]</strong></p></center>
          <hr />
          <hr />
          <strong>2016-10-22</strong> 
          <hr />
          <blockquote>
            <p><strong>更新</strong>：博客微調。</p>
            <p><strong>內容</strong>：更新Hexo至3.2.2，<a href="/2012/12/12/markdown-test/">順帶塞了一些新東西</a>。</p>
          </blockquote>
          <hr />
          <hr />
          <strong>2016-10-21</strong> 
          <hr />
          <blockquote>
            <p><strong>更新</strong>：<a href="/2015/11/17/imas-cg-starlightstage/">[iOS & Android App] アイドルマスター シンデレラガールズ スターライトステージ / 騙錢大師 灰姑娘女孩 星光舞台</a></p>
            <p><strong>內容</strong>：追加新PV，遊戲內MV 追加「キミとボクのミライ」、「Jet to the Future」。</p>
          </blockquote>
          <hr />
          <hr />
          <strong>2016-10-17</strong> 
          <hr />
          <blockquote>
            <p><strong>更新</strong>：<a href="/2015/03/16/psn-sth-useless-note/">[雜談] [PSN] 一些游戲的PKG地址</a></p>
            <p><strong>內容</strong>：添加「アイドルマスター プラチナスターズ」(CUSA03628) 1.02版本補丁的PKG地址。</p>
          </blockquote>
          <hr />
          <hr />
          <strong>2016-10-13</strong> 
          <hr />
          <blockquote>
            <p><strong>更新</strong>：<a href="/2016/10/03/ps-plus-jpn-2016-10/">[PSN] PlayStation Plus 日服 二〇一六年 十月 會免游戲替換地址綜合文</a></p>
            <p><strong>內容</strong>：更新PKG地址，添加PV。</p>
          </blockquote>
          <hr />
          <hr />
          <strong>2016-10-10</strong> 
          <hr />
          <blockquote>
            <p><strong>更新</strong>：<a href="/2015/03/16/psn-sth-useless-note/">[雜談] [PSN] 一些游戲的PKG地址</a></p>
            <p><strong>內容</strong>：添加「アイドルマスター シンデレラガールズ ビューイングレボリューション」(CUSA05964) 的PKG地址。</p>
          </blockquote>
          <hr />
          <hr />
          <strong>2016-10-05</strong> 
          <hr />
          <blockquote>
            <p><strong>更新</strong>：<a href="/2015/03/16/psn-sth-useless-note/">[雜談] [PSN] 一些游戲的PKG地址</a></p>
            <p><strong>內容</strong>：添加「アイドルマスター プラチナスターズ」(CUSA03628) 〔DLC Catalog Vol. 3〕的PKG地址。</p>
            <hr />
            <p><strong>更新</strong>：<a href="/2016/10/03/ps-plus-jpn-2016-10/">[PSN] PlayStation Plus 日服 二〇一六年 十月 會免游戲替換地址綜合文</a></p>
            <p><strong>內容</strong>：更新PKG地址。</p>
          </blockquote>
          <hr />
          <hr />
          <strong>2016-10-03</strong> 
          <hr />
          <blockquote>
            <p><strong>更新</strong>：<a href="/2015/11/17/imas-cg-starlightstage/">[iOS & Android App] アイドルマスター シンデレラガールズ スターライトステージ / 騙錢大師 灰姑娘女孩 星光舞台</a></p>
            <p><strong>內容</strong>：偷偷更新一點東西。</p>
            <hr />
            <p><strong>更新</strong>：<a href="/2016/04/06/some-playstation-update-files/">[雜談] PlayStaion更新相關</a></p>
            <p><strong>內容</strong>：添加PS4 4.01版本更新的PKG地址。</p>
            <hr />
            <p><strong>發布</strong>：<a href="/2016/10/03/ps-plus-jpn-2016-10/">[PSN] PlayStation Plus 日服 二〇一六年 十月 會免游戲替換地址綜合文</a></p>
            <p><strong>內容</strong>：預發布，明天更新預告（如果有），後天更新PKG地址。</p>
          </blockquote>
          <hr />
          <hr />
          <strong>2016-09-26</strong> 
          <hr />
          <blockquote>
            <p><strong>更新</strong>：<a href="/2015/03/16/psn-sth-useless-note/">[雜談] [PSN] 一些游戲的PKG地址</a></p>
            <p><strong>內容</strong>：添加「アイドルマスター シンデレラガールズ ビューイングレボリューション」(CUSA05964) 的PKG地址。（預發布）</p>
          </blockquote>
          <hr />
          <hr />
          <center><p><strong>完整日誌可以前往<a href="/2012/12/21/update_log/">這裡</a>查看。</strong></p></center>
        </li>
      </ul>
    </div>
  </div>
<% } %>