<% if (true){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">新浪微博</h3>
    <div class="widget-weibo">
      <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="https://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=1685434042&verifier=aea2a932&dpc=1"></iframe>
    </div>
  </div>
<% } %>